*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* colors */
  --bg-color: #FFFFFF;
  --timer-color: #323238;
  --primary-color: #323238;
  --bg-btn-color: #E1E1E6;
  --details-btn-color: #02799D;
  --selection-color: #FFFFFF;

  /* font-size */
  font-size: 62.5%;

  /* font-family */
  font-family: 'Roboto', sans-serif;
}

body.dark{
  --bg-color: #121214;
  --timer-color: #FFFFFF;
  --primary-color: #C4C4CC;
  --bg-btn-color: #29292E;
  --details-btn-color: #0A3442;
  --selection-color:  #FFFFFF;

  transition: background 1s;

}

body{
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  transition: background 1s;
}

main{
  width: min(90rem, 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.clock span{
  font-size: 12.62rem;
  line-height: 14.78rem;
  color: var(--timer-color);
}

.controls button{
  height:  4.8rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.controls{
  display: flex;
  justify-content: space-between;
}

.Choose-sound{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.Choose-sound button{
  border: none;
  background-color: var(--bg-btn-color);
  padding: 4.8rem;
  border-radius: 2.4rem ;
  cursor: pointer;
}

button:hover{
  transform: scale(1.1);
}

svg path{
  fill: var(--primary-color);
}

.selector {
  background-color: var(--details-btn-color) !important;
}

.selector svg path{
  fill: var(--selection-color);
}

.selector input{
  background-color: var(--selection-color);
}

.selector input::-webkit-slider-thumb {
  background-color: var(--selection-color);
}

input{
  appearance: none;
  height: 0.4rem;
  width: 9rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  margin-top: 3.2rem;
}

input::-webkit-slider-thumb {
  appearance: none;
  width: 1.6rem; 
  height: 1.6rem;
  border-radius: 50%; 
  background-color: var(--primary-color); 
  cursor: pointer; 
}

.mode{
  position: absolute;
  top: 6rem;
  right: 6rem;
}

header button{
  background: none;
  border: none;
}

.hide{
  display: none;
}

